
/* Defaults */
    body{
      margin:0;
    }
    h1,h2,h3{
      font-family: Oswald;
      color: #1f1f1f;
      font-weight: 400;
    }
    h4,h5,h6,p,a,li,span{
      font-family: Droid Sans;
      color: #1f1f1f;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;

    }

/* Header */
    .header{
      position: absolute;
      color: white;
      padding: 1em;
      z-index: 1;
    }
    .header span{
      color: white;
    }
    .container{
      max-width: 1200px;
      margin: 0 auto;
    }
    input{
      padding: 1em;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-top:2em;
    }

/* Hero */
    .hero{
      background: url('../images/austin_6_2.jpg') center no-repeat;
      background-size: cover;
      height: 21em;
      position: relative;
    }
    .austin{
      background: url('../images/austin_6_2.jpg') center no-repeat;
      background-size: cover;
    }
    .hero > div:nth-of-type(2){
      text-align: center;
      position: absolute;
      top:6em;
      left:0;
      right: 0;
    }
    .hero h1{
      color: white;
      font-size: 39px;
    }
    .imgsrc{
      right: 0;
      bottom: -6em;
      position: absolute;
      color: #909090;
    }
    .darken{
      background-color: rgba(10,10,10,.5);
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      width: 100%;
      height: 100%;
    }
    .selectSearchTypeBtn{
      padding: 10px 22px;
      border: 0;
      box-shadow: none;
      color: white;
      background: transparent;
      border: 3px solid white;
      border-radius: 5px;
      font-size: 13px;
      cursor: pointer;
      width: 14em;
      transition: background-color .3s;
    }
    .selectSearchTypeBtn:hover{
      background-color: #015C79;
    }

.restaurant-result{}
.restaurant-result > div{
  width: 30%;
  float: left;
}
.harvest-result{
  overflow: auto;
  background-color: #E8E8E8;
  padding: 2em;
}
.harvest-result img{
  float: left;
  margin-right: 2em;
}
.harvest-result h3{

}
.actionBtn{
      padding: 10px 22px;
    background: transparent;
    border: 3px solid #C200FF;
    border-radius: 5px;
}

.viewOptionsButton{
  color: red;
  cursor: pointer;
}
.others-result{
  display: inline-block;
}
.others-result > div{
  overflow: auto;
  /*background-color: #4a4a4a;*/
  padding: 10px;
  margin-left: 9px;
  display: inline-block;
}
.others-result img{
  float: left;
  margin-right: 2em;
  width: 35px;
  margin-top:10px;
}
.others-result h3{
  display: inline-block;
}
.others-result a{
  display: inline-block;
  color: #e1e1e1;
  font-size: 10px;
}

.photosContainer{
  margin-top:1em;
  overflow: auto;
  width: 100%;
}
.photoContain{
  width: 14em;
  height: 14em;
  margin: 4px;
  position: relative;
  overflow: hidden;
  float: left;
  
}
.photoContain > div{
}
.photoContain img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Blog */
  .blog{
    margin-top:3em;
    margin-bottom: 3em;
  }
  .postPreview{
    /*margin-top:3em;*/
    padding: 1em;
  }
  .postPreview .left,
  .postPreview .right{
    display: inline-block;
  }
  .postPreview .left{
    width: 65%;
  }
  .postPreview .left > div{
    position: relative;
    overflow: hidden;
    height: 22em;
    /* max-height: 336px; */
    /* max-width: 405px; */
    width: 90%;
    margin: 0 auto;
  }
  .postPreview img{
    /*height: 100%;*/
    width: 100%;
    overflow: hidden;
    margin-top: -13em;
  }
  .postPreview .right{
    width: 30%;
    position: absolute;
    margin-top: 1em;
  }
  .postPreview .right h2{
    margin: 0;
    margin-bottom: 4px;
  }
  .readmore{
    text-decoration: underline;
    color: #52005F;
    font-size: 12px;
    cursor:pointer;
  }
  .date{
    font-size: 16px;
    font-size: 13px;
    margin: 0;
    color: #5F5F5F;
  }



/* Pre found restaurants */
  .leftInfo{
    width: 24%;
    float: left;
    height: 90vh;
  }
  .leftInfo > div{
    margin: 1em;
    background: #e1e1e1;
    padding: 10px;
    height: 90vh;
  }
  .predefinedRestaurants{
    max-width: 800px;
    margin:0 auto;
    /*width: 58%;*/
    /*float: left;*/
    /*margin-left: 1em;*/
    overflow: hidden;
  }
  .infoBox{
    background-color: #e1e1e1;
    padding: 1em;
    width: 100%;
  }

  .restaurantsCol{
    width: 48%;
    padding: 7px;
    display: inline-block;
    height: 21em;
    /*height: 12em;*/
    overflow: hidden;
    /*position: relative;*/
    float: left;
  }
  .restaurantsCol .darken{
    background: rgba(10,10,10,.2); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(41, 41, 41,.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(41, 41, 41,.7)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(255,0,0,0),rgba(41, 41, 41,.7)); /*Standard*/
  }
  .previewExperience{
    position: relative;
    overflow: hidden;
    height: 336px;
    max-height: 200px;
    max-width: 378px;
    width: 100%;
    margin: 0 auto;
    /*cursor: pointer;*/
    /*transition: opacity .2s;*/
  }
  .previewExperience:hover{
    /*opacity: .5;*/
  }

  .backgroundImage > img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top:-70px;
  }
  .previewCenterInfo{
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    margin-top: -13px;
    margin-left: -20px;
    
    bottom: 15px;
    left: 3em;
  }
  .previewCenterInfo h4{
    color: white;
    font-size: 19px;
    display: inline-block;
    margin: 0;
  }

  /* restaurantDetails */
    .restaurantDetails{
      text-align: center;
    }
    .restaurantDetails .quote{
      width: 84%;
      margin: 0 auto;
      line-height: 19px;
      margin-top: 10px;
      margin-bottom: 22px;
    }
    .restaurantDetails .quote h5{
      font-size: 17px;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      margin-top: 18px;
    }
    .restaurantDetails .quote p{
      font-size: 13px;
      margin: 7px;
      font-style: italic;
    }
    .restaurantDetails a{
      color: #015C79;
      font-size: 12px;
      font-weight: bolder;
    }

  /* Logos */
    .fries{
      background: url('../images/icons/potatoes4.svg') no-repeat center;
      padding: 1em; 
      background-size: 18px;
      display: inline-block;
      padding: 8px 13px 16px;
      margin-bottom: -3px;
      margin-left: 4px;
    }






