
<main class="detail">
  <!-- <p>This is the details view.</p> -->
  <div class="headerContainer">
    <img src="../images/curras_header.jpg"/>
  </div>

  <div class="content">
    <div class="left">
      <h1>Tempor Diam Eu</h1>
      <h4 class="date">January 1st, 2016</h4>
      <p>
        Phasellus est quam, lobortis quis dignissim a, finibus vel elit. Aenean tincidunt porta mi at interdum. Praesent faucibus id sapien eget scelerisque. In non blandit odio. Integer scelerisque commodo venenatis. Maecenas ac ex auctor, scelerisque risus et, molestie enim. Integer vel sem in sapien fermentum accumsan sed at nulla. Pellentesque in urna nec enim dignissim hendrerit. Morbi tortor lacus, aliquet in pharetra id, commodo et dui. Donec quis ornare massa, in dignissim lectus.
        </p>
        <br>
        <div class="imgContainer">
          <img src="../images/restaurant_images/chipot.jpg"/>
        </div>
        <br>
        <p>
        Mauris facilisis elementum lectus ac dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean venenatis finibus velit, eu ultrices purus laoreet in. Ut pellentesque pellentesque risus, sed cursus arcu. Phasellus nec fermentum turpis. Sed id nulla ut tellus semper semper eget quis lectus. Nullam nec velit at metus vehicula blandit at quis nisl. Vestibulum vitae lorem eu dui ultricies commodo nec id sem. Duis sed tempor erat. Nulla non iaculis leo.
      </p>
    </div>
    <div class="right">
      <h3>Phasellus est quam, lobortis quis dignissim a, finibus vel elit. Aenean tincidunt porta mi at interdum.</h3>
    </div>

    <!-- <p class="readmore" ng-click="viewDetails()">read full review</p> -->
  </div>

</main>